@media (max-width: 739px) {
  .container.nav {
    padding: 20px 5%;
  }
  section.container {
    padding: 80px 5%;
  }
}
@media (min-width: 740px) and (max-width: 1180px) {
  .container.nav {
    padding: 20px 8%;
  }
  section.container {
    padding: 80px 8%;
  }
}
