@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pacifico", cursive;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
}
:root {
  --main-color: #fd4646;
  --bg-color: #fff;
  --text-color: #171427;
}
.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}
img {
  width: 100%;
  object-fit: cover;
}
body {
  color: var(--text-color);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--bg-color);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.logo {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 400;
}
#cart-icon {
  font-size: 2rem;
  cursor: pointer;
}
.cart {
  right: -100%;
  position: fixed;
  top: 0;
  padding: 20px;
  height: 100vh;
  width: 360px;
  transition: 0.4s;
  background-color: var(--bg-color);
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
}
.cart.active {
  right: 0;
}
.cart-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}
.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 6px;
  margin-top: 6px;
}
.detail-box {
  display: grid;
  row-gap: 0.5rem;
}
.cart-product-title {
  font-size: 1.8rem;
}
.cart-price {
  font-size: 1.8rem;
}
.cart-quantity {
  border: 1px solid var(--text-color);
  outline-color: var(--main-color);
  width: 50px;
  font-size: 1.6rem;
  text-align: center;
}
.cart-remove {
  font-size: 2rem;
  color: var(--main-color);
  cursor: pointer;
}
.totol {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  border-top: 1px solid var(--text-color);
}
.totol-title {
  font-size: 1.6rem;
  font-weight: bold;
}
.totol-price {
  margin-left: 6px;
  font-size: 1.6rem;
}
.btn-buy {
  display: flex;
  margin: auto;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
}
.btn-buy:hover {
  background-color: var(--text-color);
}
#close-cart {
  position: absolute;
  top: 10px;
  cursor: pointer;
  color: var(--text-color);
  right: 20px;
  font-size: 25px;
}
section {
  padding-top: 80px;
}
.shop {
  margin-top: 6px;
}
.section-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  column-gap: 10px;
  row-gap: 10px;
}
.product-box {
  position: relative;
  padding: 6px;
  cursor: pointer;
  border: 1px solid var(--main-color);
}

.product-img {
  height: 300px;
  margin-bottom: 4px;
}
.product-title {
  font-size: 2rem;
  font-weight: 500;

  margin-bottom: 4px;
}
.price {
  font-weight: bold;
  font-size: 1.8rem;
}
.add-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.8rem;
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 10px;
  cursor: pointer;
}
.add-cart:hover {
  background-color: #2b206b;
}
